*{box-sizing: border-box;}


/* 회원가입 */
.signup_modal {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin:0 auto;
  width: 690px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* 로그인/회원가입 페이지 배경 */
.background_set {
  background-image: url("images/BackgroundImage.jpg");
  background-size: cover;
}


.album1{
  background-color: aliceblue;
  /* height: 30vh; */
  border-radius: 5%;

}
.album2{
  /* background-color:azure; */
  /* border-radius: 5%; */
  /* height: 35vh;
  max-height: 35vh;
  min-height: 35vh; */
  /* height:var(width); */
  grid-auto-rows: 1fr;
}

.pic1{
  width: 100%;
  
  /* height: 30vh;
  max-height: 30vh;
  min-height: 30vh; */
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
  /* object-fit: contain; */
	/* position: absolute; */
  /* margin : 10px; */
}

.button_x {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* a{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 350px;
  position: relative;
  
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  
  transition: background-image 150ms ease; */
  
/* &:after, &:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 4px;
  left: 0;
  z-index: -1;
  transition: opacity 200ms ease;
}

&:before {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  opacity: 0;
}

&:active {
  &:before {
    opacity: 1;
  }
  &:after {
    opacity: 0;
  } */
/* } */
/* }


h2 {
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 30px;  
  
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 700px) {
  h2 {font-size: 20px;}
} */