{% extends 'base.html' %}
{% block content%}


  <!--뒤로가기 버튼-->
  <button onclick="history.back()" id="back_btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg></button>

<div><h4>[ {{tag}} ](이)가 찍힌 사진들...</h4></div>

<div>{{tag}}</div>
<div>{{photo_list}}</div>
<div>그냥글씨</div>
<div class="container container-fluid">
  <div class="row row-eq-height">
    {% for photo in photo_list %}
    <div>{{photo}}
      {{photo.id}}
      {{photo.url}}
    </div>
    <div class="col-4 col-sm-4 albums">
      <img src="{{photo}}" class="pic1 img-fluid " onclick="load_detail(this.id)" id='{{photo.id}}' alt="">
      <script>
        console.log("{{photo_list}}")
        console.log("{{photo}}")
        console.log("{{photo.id}}")
      </script>

    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}