{% extends 'base.html' %} {% block content %} {% comment %}
<div class="inputbox">
  <div class="form-group">
    <input class="form-field" type="text" placeholder="inseart tag here..." />
    <button>태그로 검색</button>
  </div>
</div>
{% endcomment %}

<form method="get" class="post-form" action="search/">
  {% comment %} {% csrf_token %} {% endcomment %}
  <div class="inputbox">
    <div class="form-group">
      <input
        type="text"
        value="{{ form.tag.value|default_if_none:'' }}"
        class="form-control form-field"
        name="tag"
        placeholder="inseart tag here..."
      />
      <button type="submit">태그로 검색</button>
    </div>
  </div>
</form>

<div class="wrap">
  <div class="wall">
    <div class="container container-fluid">
      <div class="row row-eq-height">
        {% for a_photo in photos %}
        <div class="col-4 col-sm-4 albums">
          <img src="{{a_photo.url}}" class="pic1 img-fluid" onclick="load_detail(this.id)" id="{{a_photo.id}}" alt="" />
          <!-- {{a_photo}} -->
          <script>
            console.log("{{a_photo.id}}");
          </script>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
