{% extends 'base.html' %} {% block content %}

<div class="wrap">
  <div class="wall">
    <div class="container container-fluid">

      {% comment %} 테스트디브
      <div class="row row-eq-height">
        <div class="col-4 album2">
          <img class="pic1" src="static/monika-grabkowska-dtq_NLadQ08-unsplash.jpg" />
        </div>
      </div> {% endcomment %}

      <div class="row row-eq-height">
        {% for a_photo in photos %}
        <div class="col-4 col-sm-4 album2">
          <!-- <img src="{{a_photo}}"
            class="pic1 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""> -->

            <img src="{{a_photo}}"
            class="pic1 img-fluid " alt="">
          {{forloop.counter}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}