{% extends 'base.html' %} {% block content %}

<div class="wrap">
  <div class="header">
    <img src="static/images/logo.png" alt="" />
    <div class="button_x">
    <a href={% url 'logout' %} >로그아웃</button></a></div>
  </div>
  <div class="container container-fluid">
    <div class="wall">
      {% comment %} 테스트디브
      <div class="row row-eq-height">
        <div class="col-4 album2">
          <img class="pic1" src="static/monika-grabkowska-dtq_NLadQ08-unsplash.jpg" />
        </div>
      </div> {% endcomment %}

      <div class="row row-eq-height">
        {% for a_photo in photos %}
        <div class="col-4 col-sm-4 album2">
          <img src="{{a_photo}}" class="pic1 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
          {% comment %} <img class="pic1" src="" /> {% endcomment %}
        {{forloop.counter}}
        </div>
        {% comment %} {% ifequal forloop.counter 3 %}
      </div>
      <div class="row row-eq-height">{%endifequal%}  {% endcomment %}
        {% endfor %}</div>
    </div>
  </div>
</div>
{% endblock content %}
