{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>

    <!--장고용 서식-->
    <link rel="stylesheet" type="text/css" href="{%static '분석.css'%}">
    <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'bootstrap.min.js'%}">

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">

</head>
<body>

{% block content %}

    <div id="wrap">
        <br><br>
        <h1>{{user.username}} 님의</h1><br>
        <br>
        <div><form method="get" class="post-form" action=''>
            {% csrf_token %}
            <!-- <form action = 페이지 링크 연결>
            연도버튼 -->

            <input type="month" name = 'date' value="{{form.date.value|default_if_none:''}}">
            <!--확인버튼-->
            <input type="submit" id="result_btn" style="margin-left:10px;" value="분석결과 확인">
        </form></div>
        <br>
        <br>
        <!-- </form> -->

        <!--태그 랭킹-->
        <div id="ranking">
            <!--1위 태그-->
            <div id="rank_best">
                <table>
                    <tr><td style="padding:10%;"><h2>#최다태그</h2></td></tr>
                    <tr><td><img src="커피.jpeg" id="rank1_img"></td></tr>
                </table>
            </div>
            <br>
            <!--1,2,3위 태그-->
            <div id="rank123">

                <div id="rank1" class="rank123">
                    <table class="rank_table">
                        <tr><td>날짜</td></tr>
                        <tr><td><h3>태그명</h3></td></tr>
                        <tr><td>#연관태그1</td></tr>
                        <tr><td>#연관태그2</td></tr>
                    </table>
                </div>
                <div id="rank2" class="rank123">
                    <table class="rank_table">
                        <tr><td>날짜</td></tr>
                        <tr><td><h3>태그명</h3></td></tr>
                        <tr><td>#연관태그1</td></tr>
                        <tr><td>#연관태그2</td></tr>
                    </table>
                </div>
                <div id="rank3" class="rank123">
                    <table class="rank_table">
                        <tr><td>날짜</td></tr>
                        <tr><td><h3>태그명</h3></td></tr>
                        <tr><td>#연관태그1</td></tr>
                        <tr><td>#연관태그2</td></tr>
                    </table>
                </div>

            </div>

        </div>

        <!--디테일 페이지-->
        <div id="go_to_detail">
            
<!-- <a href={% url 'analysis' %}><button type="button">분석</button></a> -->
            <a href={% url 'analysisPlace' %}><button type="button" class="detail_btn">장소 분석</button></a>
            <a href={% url 'analysisTime' %}><button type="button" class="detail_btn">시간 분석</button></a>
            
        </div>


    </div>

{% endblock %}
</body>
</html>