{% include 'base.html' %}{% block content %}
 {% comment %} {% load bootstrap4 %} {% endcomment %}

<div class="modal_overlay" id="id_modal_upload">
  <form method="post" class="post-form" enctype="multipart/form-data" id="form_upload" onsubmit="">
    {% csrf_token %}
      <div class="form-group">
          <label for="title" style="word-break:keep-all; align-self: center;">제목: </label>
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="제목"
            id="id_title"
            value="{{ form.title.value|default_if_none:'' }}"
          />
      </div>

      <div class="form-group">
        <textarea class="form-control" name="content" id="id_content" rows="10" placeholder="글씨">
{{ form.content.value|default_if_none:'' }}</textarea
        >
      </div>
      <div>
        <input type="file" name="photo" accept="image/*" id="id_photo" />
      </div>
      <hr>
      <button type="submit" class="btn btn-light" style="border-color: #aaaaaa;" id="upload"><i class="fas fa-save"></i> 저장하기</button>
      <a href=" {% url 'index' %}" class="btn btn-light" style="border-color: #aaaaaa;">닫기</a>

  </form>
</div>
<script>
  console.log("upload_page 인클루드 되었습니다. ");
</script>

{% endblock %} 